<h1 style="text-align: center;">User Form</h1>
<hr>
<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="registrForm()">
    <h2>Reactive Form</h2>
    <input type="text" name="name" [class.is-invalid]="f['name'].invalid && f['name'].touched" placeholder="name"
      formControlName="name">
    <div *ngIf="f['name'].invalid && f['name'].touched">
      <span *ngIf="f['name'].errors && f['name'].errors['required']" [style.color]="'red'">Name is Required</span>
      <span *ngIf="f['name'].errors && f['name'].errors['minlength']" [style.color]="'red'">3 character minimum</span>
      <span *ngIf="f['name'].errors && f['name'].errors['maxlength']" [style.color]="'red'">max 20 character</span>
    </div>
    <input type="text" name="age" [class.is-invalid]="f['age'].invalid && f['age'].touched" placeholder="age"
      formControlName="age">
    <div *ngIf="f['age'].invalid && f['age'].touched">
      <span *ngIf="f['age'].errors && f['age'].errors['required']" [style.color]="'red'">Name is Required</span>
      <span *ngIf="f['age'].errors && f['age'].errors['min']" [style.color]="'red'">age must be 18+</span>
      <span *ngIf="f['age'].errors && f['age'].errors['max']" [style.color]="'red'">max age is 60</span>
    </div>
    <input type="text" name="phone" [class.is-invalid]="f['phone'].invalid && f['phone'].touched" placeholder="phone"
      formControlName="phone">
    <div *ngIf="f['phone'].invalid && f['phone'].touched">
      <span *ngIf="f['phone'].errors && f['phone'].errors['required']" [style.color]="'red'">phone is Required</span>
    </div>
    <input type="text" name="email" [class.is-invalid]="f['email'].invalid && f['email'].touched" placeholder="email"
      formControlName="email">
    <div *ngIf="f['email'].invalid && f['email'].touched">
      <span *ngIf="f['email'].errors && f['email'].errors['required']" [style.color]="'red'">email is Required</span>
      <span *ngIf="f['email'].errors && f['email'].errors['email']" [style.color]="'red'">Please enter a valid
        email</span>
    </div>
    <input type="text" name="id" [class.is-invalid]="f['id'].invalid && f['id'].touched" placeholder="username"
      formControlName="id">
    <div *ngIf="f['id'].invalid && f['id'].touched">
      <span *ngIf="f['id'].errors && f['id'].errors['required']" [style.color]="'red'">username is Required</span>
    </div>
    <input type="text" name="password" [class.is-invalid]="f['password'].invalid && f['password'].touched"
      placeholder="password" formControlName="password">
    <div *ngIf="f['password'].invalid && f['password'].touched">
      <span *ngIf="f['password'].errors && f['password'].errors['required']" [style.color]="'red'">Password is
        Required</span>
    </div>
    <input type="submit" [disabled]="signupForm.invalid" value="Submit">
  </form>
</div>